wait(3)
alc(a){random(5)}
press("left")
wait(a)
alc(a){random(5)}
wait(a)
press("up")
wait(3)
alc(a){random(5)}
press("right")
wait(a)
alc(a){random(5)}
wait(a)
press("down")
wait(3)
alc(a){random(5)}
press("left")
wait(a)
alc(a){random(5)}
wait(a)
press("up")
wait(3)
alc(a){random(5)}
press("right")
wait(a)
alc(a){random(5)}
wait(a)
press("down")
wait(3)
alc(a){random(5)}
press("left")
wait(a)
alc(a){random(5)}
wait(a)
press("up")
wait(3)
alc(a){random(5)}
press("right")
wait(a)
alc(a){random(5)}
wait(a)
press("down")
wait(3)
alc(a){random(5)}
press("left")
wait(a)
alc(a){random(5)}
wait(a)
press("up")
wait(3)
alc(a){random(5)}
press("right")
wait(a)
alc(a){random(5)}
wait(a)
press("down")
wait(3)
alc(a){random(5)}
press("left")
wait(a)
alc(a){random(5)}
wait(a)
press("up")
wait(3)
alc(a){random(5)}
press("right")
wait(a)
alc(a){random(5)}
wait(a)
press("down")